includes:
	- flexsyscz/directories.neon
	- flexsyscz/localization.neon


decorator:
	Flexsyscz\Application\DI\Injectable:
		inject: true


search:
	-	in: %appDir%
		classes:
			- *Mapper
			- *Repository
			- *Facade
			- *Factory
			- *Service


services:
	- App\Core\RouterFactory::createRouter
	- App\Security\Authentication\Authenticator
