{templateType App\UI\Error\Error4xx\Error4xxTemplate}

{block content}
	<div class="error-block">
		<span class="error-code">{$httpCode}</span>
		<h1 class="error-title">{$errorTitle}</h1>
		<p class="error-text">{$errorDescription}</p>
		<a n:href=":Front:Spaces: locale => $locale" class="error-back">{$backLabel}</a>
	</div>
{/block}
